.body {
  /* text-align: center; */
}
/* 
#header-container {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
}
*/
#table-container {
  /* width: 50%; */
} 

p {
  /* color: #e63946; */
  /* font-size: 30px; */
  /* text-align: center; */
}
